.upload {
  max-width: 647px;
  width: 100%;
  margin: auto;
  padding: 50px 0;
}
.upload h2 {
  color: #07aae1;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.upload label {
  font-weight: 600;
  color: #696f79;
  font-size: 14.76px;
  margin-bottom: 12.76px;
  font-family: monospace;
}
.upload input {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-width: 2px;
  border-radius: 0.375rem;
  width: 100%;
  border-color: rgb(228, 228, 231);
}
.universalScriptWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  gap: 0 12px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.gameLink {
  margin-bottom: 25px;
}
.fileInp {
  margin-bottom: 35px;
}
.verifiedS label:nth-child(1) {
  margin-bottom: 8px;
}
.verifiedS {
  margin-bottom: 18px;
}
.textAreaWrapper {
  margin-bottom: 22px;
}
.addTagsWrapper {
  margin-bottom: 22px;
}
.universalScriptWrapper label {
  margin-bottom: 0px;
}
.typeWrapper {
  margin-top: 22px;
}
.typeWrapper label:nth-child(1) {
  margin-bottom: 8px;
}
.radioBtns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 12px;
}
.radioBtns label {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
  --tw-bg-opacity: 1;
  background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
  width: 125.4px;
  height: 50.94px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  padding: 1rem;
}
.radioBtns label input {
  padding: 0;
  width: auto;
}
.radioBtns label span {
  font-size: 11px;
}
.privacy {
  margin-top: 22px;
}
.pasteScriptWrapper textarea {
  min-height: 300px;
}
.uploadBtn {
  margin-top: 15px;
  padding: 1rem;
  width: 100%;
}
